<!DOCTYPE html>
<html lang="en">
<head>
  <title>Se-cure | Home</title>
  <!-- Add Bootstrap CSS here -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
  {% include 'navbar.html' %}

  <div class="container" style="margin-top: 50px;">
    <div class="row">

        <div class="col-sm-6">
            <img src="{{ url_for('static', filename='images/contact.png') }}" alt="contact us" class="img-fluid" style="height: 600px; width: 100%;">
        </div>
        <div class="col-sm-6">
    
    <h2>Contact Us</h2>
    <p>Se-cure is committed to providing exceptional customer service and ensuring that your queries and concerns are resolved in a timely manner.</p>
    <div class="row">
      <div class="col">
        <h4>Address</h4>
        <p>Se-cure HQ<br>
           123 Health Street<br>
           Muscat, Oman</p>
      </div>
      <div class="col">
        <h4>Contact Info</h4>
        <p>Phone: +968 1234 5678<br>
           Email: info@se-cure.com</p>
      </div>
    </div>
    <h4>Business Hours</h4>
    <p>Sunday - Thursday: 9AM to 6PM<br>
       Saturday - Sunday: Closed</p>
  </div>
  </div>
  </div>
  

  <!-- Add Bootstrap JavaScript here -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
