<!DOCTYPE html>
<html lang="en">
<head>
  <title>Se-cure | Register</title>
  <!-- Add Bootstrap CSS here -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
  {% include 'navbar.html' %}

  <div class="container mt-3">
    <h2>Register Now</h2>
    <form action="{{ url_for('register') }}" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
      </div>
      <div class="form-group">
        <label for="gender">Gender :</label>
        
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="male" value="Male" checked>
        <label class="form-check-label" for="male">
          Male
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="female" value="Female" >
        <label class="form-check-label" for="female">
          Female
        </label>
      </div>
      <div class="form-group">
        <label for="name">Address:</label>
        <input type="text" class="form-control" id="address" placeholder="Enter address" name="address" required>
      </div>
      <div class="form-group">
        <label for="name">Phone :</label>
        <input type="number" class="form-control" id="phone" placeholder="Enter phone number" name="phone" required>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
      {% if message %}
      <div class="form-group">
        <label>{{ message }}</label>
        
      </div>
      {% endif %}
    </form>
  </div>

  <!-- Add Bootstrap JavaScript here -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
